@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Montserrat', Verdana, sans-serif;
}

.nav {
    position: relative;
    padding: 40px;
    background-color: light;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.nav-icon {
    position: absolute;
    height: 50px;
    top: 30px;
    left: 30px;
}

.nav p{
    float: left;
    margin-left: 70px;
    font-size: 23px;
}

.nav-links {
    float: right;
    list-style-type: none;
    text-align: right; 
}

.nav-links a {
    text-decoration: none;
    color: black;
}
.nav-links a:hover {
    font-weight: bold;
    text-decoration: none;
}

.nav-link1 {
    float: right;
    margin: 3px 10px;
}

.nav-link2 {
    float: right;
    margin: 3px 10px;
}

.nav-link3 {
    float: right;
    margin: 3px 10px;
}



.container {
    background-color: rgb(235, 234, 232);
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.container h1 {
    display: inline-block;
    border-bottom: 1px solid black;
    margin: 20px auto;
}

.form-name {
    margin: 20px;
}

.form-email {
    margin: 20px;
}

.form-phone {
    margin: 20px;
}

.form-message {
    margin: 20px;
}


#name-input {
    letter-spacing: normal;
    margin-top: 10px;
}

#email-input {
    letter-spacing: normal;
    margin-top: 10px;
}

#phone-input {
    letter-spacing: normal;
    margin-top: 10px;
}

#message-input {
    letter-spacing: normal;
    margin-top: 10px;
}

.button-submit {
    margin-top: 30px;
}

.footer {
    position:relative;
    clear: both;
    border-top: 1px solid black;
    padding: 10px;
}

.footer-info p{
    position: absolute;
    top: 20px;
    right: 10px
}

.home-icon {
    float: left;
    height: 45px;
    margin: 10px 0px 20px 15px;;
}

.home-a {
    display: inline-block;
    margin: 25px 0px 0px 20px;
}