@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Montserrat', Verdana, sans-serif;
}

/* HEADER Section */

.nav {
    position: relative;
    padding: 40px;
    background-color: light;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.nav-icon {
    position: absolute;
    height: 50px;
    top: 30px;
    left: 30px;
}

.nav p{
    float: left;
    margin-left: 70px;
    font-size: 23px;
}

.nav-links {
    float: right;
    list-style-type: none;
    text-align: right; 
}

.nav-links a {
    text-decoration: none;
    color: black;
}
.nav-links a:hover {
    font-weight: bold;
    text-decoration: none;
}

.nav-link1 {
    float: right;
    margin: 3px 10px;
}

.nav-link2 {
    float: right;
    margin: 3px 10px;
}

.nav-link3 {
    float: right;
    margin: 3px 10px;
}

/* Body Section */

.container {
    overflow: hidden;
    background-color: rgb(235, 234, 232);
}

.img-richard {
    float: left;
    border-radius: 300px;
    width: 450px;
    margin: 100px 40px 100px 160px;
}

.introduce {
    float: left;
    margin: 150px auto;
}

h1 {
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

p.introduce-paragraph {
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    margin-top:10px ;
}

.introduce-links a{
    text-decoration: none;
}



.link-button1 {
    border-radius: 50%;
    float: left;
    color: black;
    border: 1px solid black;
    background-color: lightcoral;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 40px 10px 0px 0px;
    line-height: 10;
    padding: 10px 0;
    list-style-type: none;
}


.link-button1 a{
    display: block;
    color: black;
}

.link-button1:hover {
    background-color: white;
}

.link-button2 {
    float: left;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 40px 10px 0px 0px;
    line-height: 10;
    padding: 10px 0;
    list-style-type: none;
}

.link-button2 a{
    display: block;
    color: black;
}

.link-button2:hover {
    background-color: white;
}


.link-button3 {
    float: left;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    background-color: lightgreen;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 40px 10px 0px 0px;
    line-height: 10;
    padding: 10px 0;
    list-style-type: none;
}

.link-button3 a{
    display: block;
    color: black;
}

.link-button3:hover {
    background-color: white;
}

/* FOOTER Section*/

.footer {
    clear: both;
    border-top: 1px solid black;
    padding: 20px;
}

.footer p{
    text-align: right;
}

